<ul class=" flex justify-center gap-6 font-semibold text-slate-700  text-lg">
  <li>
    <a href="">
      <app-button class="hidden lg:block" name="Sign In" size="L"></app-button>
      <app-button class="lg:hidden" name="Sign In" size="M" shades="W" animation="F"></app-button>
    </a>
  </li>
  <li>
    <a href=""><app-button class="hidden lg:block" name="Sign Up" size="W" animation="F" shades="W"></app-button></a>
    <app-button class="lg:hidden" name="Sign Up" size="M" shades="W" animation="F"></app-button>

  </li>

</ul>