<section class="py-14">
    <app-heading class="block mb-10" subHeading="Student Testimonial" headingText1="Feedback From"
        headingText2=" Student" specialHeadingTextId="2" algn="C"></app-heading>
    <div class="container mx-auto">
        <app-slider *ngIf="this.feedbacks.length>0" [items]="this.feedbacks" [slideConfig]="this.slideConfig">
            <ng-template #template let-item>
                <app-feedback-card [item]="item"></app-feedback-card>
            </ng-template>
        </app-slider>

    </div>
</section>