<section class="pt-10 my-3">
    <div class="container mx-auto px-5 sm:px-24 xl:px-10 2xl:px-0">
        <div class=" bg-emerald-50 rounded-2xl py-10 md:px-10 xl:px-24 relative">
            <img class="hidden sm:block absolute top-8 right-8 animate-spin transition-all duration-300"
                src="../../../assets/shapes/shape-12.png" alt="">

            <app-heading class=" block pb-10 max-w-md mx-auto md:mx-0" subHeading="" headingText1="Best Supporter of"
                headingText2="Edule." headingText3="" specialHeadingTextId="2" algn="L"></app-heading>
            <app-slider *ngIf="this.clients.length>0" [slideConfig]="this.slideConfig" [items]="this.clients">
                <ng-template #template let-item>
                    <div class="flex justify-center">
                        <img src="../../../assets/brands/{{item.clientImage}}" alt="">
                    </div>
                </ng-template>
            </app-slider>
        </div>

    </div>

</section>