<section class="bg-emerald-600 mt-24 py-24 relative">
    <div
        class="hidden 2xl:block absolute w-[36.5rem] h-[36.5rem] border-2 border-white opacity-10 rounded-full -top-72">
    </div>
    <div
        class="hidden 2xl:block absolute w-[34rem] h-[34rem] border-2 border-white opacity-10 rounded-full left-[30rem] -bottom-72">
    </div>
    <div
        class="hidden 2xl:xl:block absolute w-[34rem] h-[34rem] border-2 border-white opacity-10 rounded-full -top-72 right-[30rem]">
    </div>
    <div
        class="hidden 2xl:block absolute w-[36.5rem] h-[36.5rem] border-2 border-white opacity-10 rounded-full -bottom-72 right-0">
    </div>
    <div class="container mx-auto flex flex-wrap lg:flex-nowrap">
        <div class="w-full lg:w-1/2">
            <div class="">
                <p class="text-xl mb-3 text-white font-medium">Ready to start?</p>
                <h3 class="text-3xl lg:text-4xl font-medium text-white">Download our mobile app and for easy to start
                    your course. </h3>
            </div>
        </div>
        <div
            class=" w-full lg:w-1/2 mt-10 lg:mt-0 relative flex flex-wrap md:flex-nowrap gap-5  lg:justify-end items-center ">
            <img class="hidden 2xl:block absolute top-5 -left-3 animate-leftRight animate-infinite duration-300 "
                src="./assets/shapes/shape-14.png" alt="">
            <a class="border-4 rounded-xl border-white border-opacity-10" href="">
                <img class="bg-white p-4 px-10 rounded-lg " src="./assets/google-play.png" alt="">
            </a>
            <a class="border-4 rounded-xl border-white border-opacity-10" href="">
                <img class="bg-white p-4 px-10 rounded-lg" src="./assets/app-store.png" alt="">
            </a>
        </div>



    </div>


</section>